body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}
header {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    padding: 2em 0;
    text-align: center;
}
header h1 {
    font-size: 2.5em;
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: #575757;
}
.container {
    padding: 2em;
}
.container h2 {
    border-bottom: 2px solid #00c6ff;
    padding-bottom: 0.5em;
    font-size: xx-large;
}
.about {
    display: flex;
    align-items: center;
    gap: 2em;
}
.about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #00c6ff;
}
.about p {
    flex: 1;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.gallery img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
}
.project {
    margin-top: 2em;
}
.project img, .project video {
    max-width: 100%;
    height: auto;
    margin-top: 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-form {
    max-width: 600px;
    margin: auto;
    background: #f9f9f9;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.contact-form button {
    padding: 1em 2em;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.contact-form button:hover {
    background-color: #005bb5;
}

.project h3 {
    font-size: x-large;
}
.thumb h3, img {
    display: inline-block;
    vertical-align: middle; /* Richtet die Elemente vertikal aus */
  }
.thumb h3 {
    margin-bottom: -35px;
    text-decoration: underline double;
}
.thumb img {
    margin-left: 10px; /* Abstand zwischen Titel und Bild */
  }

  .gallery a{
    width: 100px;
    height: 100px;
  }